/*  your css code here. If applicable */
body{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
	display:flex;
	align-items:center;
	justify-content:center;
	width:200px;
	height:200px;
	background-color:lightblue;
	border:2px solid black;
}
p{
	color:purple;
}